{% extends 'base.html' %}

{% block content %}

<div class="container mt-3 mb-5">

    <div class="row">
        <table class="table align-middle text-center mt-3">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">할 일</th>
                    <th scope="col">작성 시간</th>
                    <th scope="col">수정 시간</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a class="text-decoration-none" href="{% url 'todo:detail' _id=i.id %}">{{ i.title }}</a>
                    </td>
                    <td>{{ i.created_at }}</td>
                    <td>{{ i.updated_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end px-0 py-3 mb-3">
            <button class="btn fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">할 일 작성</button>
        </div>
    </div>
</div>

<!-- 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">할 일 작성</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/todo/write" method="GET">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">제목</label>
                        <input type="text" class="form-control" id="recipient-name" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">내용</label>
                        <textarea class="form-control" id="message-text" name="content"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">할 일 작성</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}